@font-face {
    font-family: "MS Sans Serif";
    src: url("../../assets/fonts/micross.ttf") format("truetype")
}

body {
    font-family: "MS Sans Serif", sans-serif;
    background-color: #3A6EA5;
    font-size: 8pt;
}

#logonView {
    display: block;
}

#chatView {
    display: none;
}

.ms-window {
    display: none;
    background-color: #d4d0c8;
    position: fixed;
    .ms-window-titlebar {
        background-image: linear-gradient(to right, #0a246a, #a6caf0);
        margin: 4px;
        color: #ffffff;
        user-select: none;
        font-weight: bold;
        font-size: 12pt;
    }
    .ms-window-body {
        margin-right: 4px;
        margin-left: 4px;
    }
}

#logonWindowLogo {
    background-color: #ffffff;
    margin: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 8px solid;
    border-image: linear-gradient(to right, #013755, #9ec0da, #013755) 4;
    * {
        margin: 0;
    }
}

#logonForm {
    margin-top: 25px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        flex-direction: row;
    }
}

#logonUsername, #logonRoom {
    align-self: flex-end;
    margin-left: auto;
    width: 300px;
    margin-right: 90px;
    margin-bottom: 10px;
}

#logonButton {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 90px;
}

button, input {
    border-radius: 0;
}

button {
    background-color: #d4d0c8;
}

input[type="text"] {
    background-color: #ffffff;
}

input[type="text"]:focus-visible {
    outline: none;
}

#chatBar {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 4px;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 4vh;
}

#chatInput {
    flex-grow: 1;
    margin-right: 4px;
    margin-left: 4px;
}

#chatSentBtn {
    font-weight: bold;
    margin-right: 4px;
}